In [13]:
import pandas as pd
import numpy as np
from datetime import datetime
import warnings
warnings.filterwarnings("ignore")
from pymongo import MongoClient
from calendar import monthrange
from sklearn.preprocessing import LabelEncoder

In [14]:
df_whole=pd.read_parquet("d:/Data_Files/Data/Parquet/data_whole.parquet")

In [15]:
df_whole['creation_time']=pd.to_datetime(df_whole['creation_time'])

In [17]:
df1=df_whole[df_whole['location_id']=="500000030009"]
df2=df_whole[df_whole['location_id']=="500000040009"]

In [18]:
df = pd.concat((df1,df2))

In [19]:
le = LabelEncoder()
df['sensor'] = le.fit_transform(df['location_id'])

In [20]:
df

           location_id       creation_time  grid_reading_kwh  sensor
0         500000030009 2021-04-30 23:59:59              45.0       0
71        500000030009 2021-05-01 00:02:25              45.0       0
148       500000030009 2021-05-01 00:04:55              45.0       0
223       500000030009 2021-05-01 00:07:26              45.0       0
298       500000030009 2021-05-01 00:09:55              45.0       0
...                ...                 ...               ...     ...
39998238  500000040009 2022-03-24 16:06:48            4286.0       1
39998640  500000040009 2022-03-24 16:10:48            4286.0       1
39999025  500000040009 2022-03-24 16:14:43            4286.0       1
39999416  500000040009 2022-03-24 16:18:36            4286.0       1
39999814  500000040009 2022-03-24 16:22:33            4286.0       1

[271288 rows x 4 columns]

In [37]:
df1=df.groupby('sensor')
for i , j in df1:
    data=j
    x=data['location_id'].unique()
    print(x)

['500000030009']
['500000040009']

In [34]:
client = MongoClient('mongodb://localhost:27017/')
db = client['model']  
collection1 = db['test_data']

In [35]:
for labeld_id , data in df1:
    dframe=data
    dframe.set_index(['creation_time'],inplace=True,drop=True)
    # dframe.drop(['location_id'],axis=1,inplace=True)
    sensor_id = dframe['location_id'].unique()
    dframe['units']=dframe['grid_reading_kwh']-dframe['grid_reading_kwh'].shift(1)
    dframe.drop(['grid_reading_kwh'],axis=1, inplace=True)
    dfresample=dframe[['units']].resample(rule="7D").sum()
    dfresample.reset_index(inplace=True)
    dfresample['label_id'] = labeld_id
    dfresample['sensor_id'] = sensor_id[0]
    data1 = dfresample.to_dict(orient='records')
    sensor_id = id
    id_data = { "sensor_id": sensor_id, "data": data1 }
    
    # collection1.insert_one(id_data)

In [40]:
dfresample.columns

Index(['creation_time', 'units', 'label_id', 'sensor_id'], dtype='object')

In [ ]:
records = dfresample.to_dict(orient='records')
# records

In [ ]:

cursor = collection1.find({"sensor_id":"500000030009"},{"_id":0,"data":1})
# print(cursor)
data_list = list(cursor)
# print(data_list)

In [ ]:
y=data_list[0]
df=pd.DataFrame(y['data'])
df.info()

In [ ]:
x=data_list
y=x[0]
y['data']
df=pd.DataFrame(y['data'])
df

In [ ]:

df = pd.DataFrame(data_list)
print(df)

In [ ]:
df

In [ ]:
x=collection1.find({"id":1})
data=list(x)

In [ ]:
data

In [ ]:
client = MongoClient('mongodb://localhost:27017/')
db = client['your_database_name']  
collection = db['your_collection_name'] 

collection.insert_many(records)

client.close()

In [ ]:
from calendar import monthrange
date= 2023,12
x=monthrange(date)
x[1]

In [ ]:
date= datetime.now()

In [ ]:
month, year = date.month, date.year
print(year,month)

In [ ]:
year, month = 2024, 2
x=monthrange(year,month)
x[1]

In [ ]:
x=monthrange(year,month)
x=x[1]
x

In [ ]:
# df.index = pd.to_datetime(df.index)

start_date = '2021-05-01 00:00:00'
end_date = '2021-05-01 23:00:00'
df1 = df[(df.index >= start_date) & (df.index <= end_date)]

In [ ]:
df1.loc["2021-05-01 01:00:00", "units"] = 0.0

In [ ]:
df1

In [ ]:
# df1['units'].max()

In [ ]:
max_kwh_row = df1.loc[df1['units'].idxmax()]

In [ ]:
max_kwh_row.

In [ ]:
max_kwh_hour = max_kwh_row.name.hour
print(max_kwh_hour)

In [ ]:
for i in max_kwh_row:
    print(i)

In [ ]:
d={'data_pred': [{'hour': 0, 'pre_kwh': 635.5068}, {'hour': 1, 'pre_kwh': 637.5716}, 
                 {'hour': 2, 'pre_kwh': 570.1252}, {'hour': 3, 'pre_kwh': 573.8024}, 
               {'hour': 4, 'pre_kwh': 537.8399}, {'hour': 5, 'pre_kwh': 582.4214}, 
               {'hour': 6, 'pre_kwh': 776.1121}, {'hour': 7, 'pre_kwh': 552.3722}, 
               {'hour': 8, 'pre_kwh': 1127.8054}, {'hour': 9, 'pre_kwh': 1170.0236}, 
               {'hour': 10, 'pre_kwh': 1047.1904}, {'hour': 11, 'pre_kwh': 992.4147}, 
               {'hour': 12, 'pre_kwh': 975.7905}, {'hour': 13, 'pre_kwh': 773.0002}, 
               {'hour': 14, 'pre_kwh': 744.5787}, {'hour': 15, 'pre_kwh': 815.3971},
                {'hour': 16, 'pre_kwh': 788.7074}, {'hour': 17, 'pre_kwh': 757.333}, 
                {'hour': 18, 'pre_kwh': 952.8865}, {'hour': 19, 'pre_kwh': 943.4596}, 
                {'hour': 20, 'pre_kwh': 1012.2806}, {'hour': 21, 'pre_kwh': 956.4885}, 
                {'hour': 22, 'pre_kwh': 924.4943}, {'hour': 23, 'pre_kwh': 677.61}]}

In [ ]:
max(d['data_pred'],key=)

In [ ]:
max_value_dict = max(d['data_pred'], key=lambda x: x['pre_kwh'])
max_value_dict['pre_kwh']

In [ ]:
max_hour = max_value_dict['hour']

print("Hour with max 'pre_kwh':", max_hour)
max_hour

In [ ]:
max_value_dict = max(data_pred['data_pred'], key=lambda x: x['pre_kwh'])

# Extract the 'hour' value from the dictionary
max_hour = max_value_dict['hour']

print("Hour with max 'pre_kwh':", max_hour)

In [ ]:
# data={"num":[1,2,3,4,5],
#       "value":np.nan}
data=[]
df=pd.DataFrame(data)

In [ ]:
df

In [ ]:
if df.empty is False:
    print("DataFrame is not empty")
else:
    print("DataFrame is  empty")

In [ ]:
x=5
if x==0 is False:
    print(" x si not zero")

In [ ]:
l=[1,2,3,4,5]
d={"data":l}

sum=0
for i in d['data']:
    sum+=i
print(sum)

val=[i for i in d['data']]
print(sum(val))
# pr

In [ ]:
numbers = [1,2,3,4,5,1,4,5]
 
Sum = sum(numbers)
print(Sum)

In [ ]:
x=datetime.now()
s,c=0,0
for i in range(100000):
    s+=i
    c+=1

print(s,c)
y=datetime.now()

In [ ]:
y-x

In [ ]:
x=datetime.now()
d={"data":[]}
l=[]
for i in range(100000):
    l.append(i)
    d['data'].append(len(l))

    

print(sum(l),len(l))
y=datetime.now()

In [ ]:
d={"data":[]}
x=np.array([])
for i in range(1,6):
    x=np.append(x,i)
    d['data'].append(len(x))

print(len(x))
print(np.sum(x))

In [ ]:
print(length_of_x)
print(sum_of_x)

In [ ]:
x=20
def fn():
    try:
        if x>20:
            return("small")
        else:
            if x%2==0:
                return x=="even"
            else:
                return "odd"
    finally:    
        return x
fn()

In [ ]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

date = '2024-01-29'
date_object = ((datetime.strptime(date, '%Y-%m-%d'))- relativedelta(months=1)).month

print(date_object)

In [ ]:
l=[]
print(len(l))