In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline
plt.rcParams['figure.figsize']=(20,5)
import plotly.express as px

import warnings
warnings.filterwarnings("ignore")

from statsmodels.tsa.seasonal import seasonal_decompose
from dateutil.parser import parse
import pandas as pd
from statsmodels.tsa.stattools import adfuller
import pyarrow.parquet as pq

In [ ]:
def sliderPlot(df1,i):
    fig = px.line(df1, y=df1[i] )
    fig.update_xaxes(
        rangeslider_visible=True,
        rangeselector=dict(
            buttons=list([
                dict(count=1, label="1y", step="year", stepmode="backward"),
                dict(count=2, label="2y", step="year", stepmode="backward"),
                dict(count=3, label="3y", step="year", stepmode="backward"),
                dict(step="all")
            ])
        ))
    fig.show()

In [9]:
table = pq.read_table(r'C:/Users/Harsh/Downloads/DLMS Data/data.parquet')

# Convert it to a Pandas DataFrame (optional)
dframe = table.to_pandas()

In [10]:
dframe.head(1)

,sensor,Clock,R_Voltage,Y_Voltage,B_Voltage,R_Current,Y_Current,B_Current,Kwh
0,5f718c439c7a78.65267835,2022-11-18 00:30:00,6499.0,6514.0,6473.0,27.74,27.42,25.57,261300.0

In [11]:
id=dframe['sensor'].unique()
id

array(['5f718c439c7a78.65267835', '62a9920f75c931.62399458'], dtype=object)

In [17]:
lst=[]
for location in id:
    df=dframe[dframe['sensor'] == location ]
    # df['Clock']=pd.to_datetime(df['Clock'])
    df.set_index(['Clock'],inplace=True,drop= True)
    df = df[df.index >= '2022-11-18 00:00:00']
    filtered_df = df[((df['R_Voltage'] == 0) | (df['Y_Voltage'] == 0) | (df['B_Voltage'] == 0)) & 
                     ((df['R_Current'] == 0) | (df['Y_Current'] == 0) | (df['B_Current'] == 0))]
    filtered_df['Kwh'] = 0
    df.loc[filtered_df.index, :] = filtered_df
    df=df[['Kwh']].resample(rule='30Min').max()

    lst.append(df)

In [18]:
lst[0]

                          Kwh
Clock
2022-11-18 00:30:00  261300.0
2022-11-18 01:00:00  254300.0
2022-11-18 01:30:00  254800.0
2022-11-18 02:00:00  242600.0
2022-11-18 02:30:00  238900.0
...                       ...
2023-11-01 00:00:00  455100.0
2023-11-01 00:30:00  431900.0
2023-11-01 01:00:00  420300.0
2023-11-01 01:30:00  394800.0
2023-11-01 02:00:00  386100.0

[16708 rows x 1 columns]

In [19]:
lst[1]

                          Kwh
Clock
2022-12-03 00:30:00   86100.0
2022-12-03 01:00:00   79500.0
2022-12-03 01:30:00   71700.0
2022-12-03 02:00:00   66700.0
2022-12-03 02:30:00   67300.0
...                       ...
2023-11-01 10:00:00  153800.0
2023-11-01 10:30:00  147700.0
2023-11-01 11:00:00  149000.0
2023-11-01 11:30:00  127700.0
2023-11-01 12:00:00  123600.0

[16008 rows x 1 columns]